<h1>Personal project to read and clasify bills</h1>

<li>Rossum API (Software to read invoices)</li>

<li>maximilianovedoya@gmail.com M@xi200122</li>

In [137]:
#it works but the BIGO is pretty bad.

In [150]:
import string
import pytesseract
from PIL import Image
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files (x86)\Tesseract-OCR\tesseract.exe'

import os
from os import listdir
from os.path import isfile, join

#temporary fix
if 'TestFiles' in os.getcwd():
    os.chdir('..')

files = [f for f in listdir('TestFiles') if isfile(join('TestFiles', f))]
data=list()
os.chdir('TestFiles')
for file in files:
    img=Image.open(file)
    text=pytesseract.image_to_string(img,lang='spa')
    striptext = text.replace('\n\n', ' ')
    striptext = striptext.replace('\n', ' ')
    striptext=striptext.lower()
    data.append(striptext)

In [139]:
def extratcor(striptext):
    import re 
    data={ 'iva':None,
           'fecha':None,
           'total':None,
           'empresa':None,
           'keywords':None,
          }
    
    keywords=['encomiendas','pasajes','boletos','latex','pincel']
    
    iva=r'21,00\s*%|21\s*%|exento|10,50\s*%'
    iva=re.search(iva,striptext)
    if iva:
        data['iva']=iva.group(0)
    
    importe=r'[total].*\$?\s+(\d+,?.?\d+.?\d{2})'
    importe=re.search(importe,striptext)
    if importe:
        data['total']=importe.group(1)

    fecha=r'\s+(\d{2}/\d{2}/\d{2})'
    fecha=re.search(fecha,striptext)
    if fecha:
        data['fecha']=fecha.group(1)

    tipos=['s.r.l','srl','s.a','sa','s.a.s','sas']
    for tipo in tipos:
        empresa=r'(\w+\s*\w*\s*\w*\s*\w*)\s+'+tipo
        empresa=re.search(empresa,striptext)
        if empresa:
            data['empresa']=empresa.group(0)
    
    import string
    from nltk import word_tokenize
    text=word_tokenize(striptext)
    clean=[word for word in text if word not in nltk.corpus.stopwords.words("spanish")]
    clean=[word for word in clean if word not in string.punctuation]
    
    #matches against keywords or fuzzzy keywords inside the text.
    from fuzzywuzzy import fuzz
    temp_=list()
    for word in clean:
        for keyword in keywords:
            if fuzz.ratio(word, keyword)>70:
                temp_.append(word)
    if temp_:
        data['keywords']=temp_
    
    return data

In [142]:
temp_=list()
for bill in data:
    temp_.append(extratcor(bill))

In [149]:
import pandas as pd 
df=pd.DataFrame(temp_)
df

,iva,fecha,total,empresa,keywords
0,21%,29/02/20,"22,800.00",empresa rio uruguay s.r.l,[encomtendas]
1,exento,05/04/20,"10,560.00",empresas asociadas central argentino srl,"[boletos, pasajes, boletos]"
2,exento,05/04/20,"10,560.00",empresas asociadas central argentino srl,"[boletos, pasajes, boletos]"
3,"21,00 %",23/02/20,"302,93",empresa s.a,None

<h3>This is a try to capture in a easier ways the "kweywords I need"</h3>

In [123]:
# import string
# from nltk import word_tokenize
# text=word_tokenize(data[0])
# clean=[word for word in text if word not in nltk.corpus.stopwords.words("spanish")]
# clean=[word for word in clean if word not in string.punctuation]
# clean

In [136]:
# from fuzzywuzzy import fuzz
# fuzz.ratio('e3comte3da', 'encomienda')